
body{
    font-family: 'Bebas Neue', cursive;
}
.brown{
color : #321801;
}
.bg-cuivre{
    background-color : #321801;
}
.bg-green{
    background-color : #9FE855;
}
.green{
    color : #9FE855;
}
.gris{
    color : #9FE855;
}
.size{
    font-size: 22px;
}
.size2{
    font-size: 18px;  
}
.size3{
    font-size: 30px;  
}
.size4{
    font-size: 50px;  
}
a.link {
    color: #9FE855; 
}
a.link:hover {
    color: #85430a; 
}
.backgroundcolor{
    background-color: red !important;
}




@media screen and (max-width: 990px) {
    .padd980 {
        padding-top: 20px;
    }
    .paddb980 {
        padding-top: 50px !important; 
        padding-bottom: 20px !important;
    }
    .paddb9801 {
        
        padding-bottom: 20px !important;
    }
    .displayqueries{
        display:none
    }
    .queriescenter{
        text-align: center;
    }
    .textcentermedia{
        text-align:center;
    }
    .reductqueries{
        width:30% !important;
    }
  }